# Archivos y carpetas generados por el sistema operativo
#####################################################
*.swp
*~
Thumbs.db
.DS_Store
._*

# Archivos y carpetas de IDEs y editores
########################################
# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.csproj.user

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains Rider
.idea/
*.sln.iml

# Archivos y carpetas de compilación de .NET
############################################
obj/
bin/
**/App_Data/
Properties/PublishProfiles/
*.nupkg
*.snupkg
*.